#wrapper
{
    width: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border: solid black 3px;
    padding: 15px;
}

h1
{
    margin-left: 125px;
}

body
{
    background-color: darkgrey;
}

form > button
{
    margin-left: 140px;
}

#last_Name
{
    margin-left: 2px;
}

span
{
    font-weight: bold;
    font-size: 15px;
}

#q2
{
    border-top: black 2px;
}

table
{
    width: 100%;
}

table, th, td, tr
{
    border: 1px solid black;
}

td
{
    text-align: right;
}

input[type=number]
{
    width: 30px;
    margin-left: -20px;
}
